.title {
  font-size: 35px;
  color: lightGrey;
  display: inline-block;
  float: right;
  line-height: 10px;
}

.homeButton > a {
  background-color: green;
}

.bar {
  padding: 30px;
}

.divider {
  height: 1px;
  width: 95%;
  margin: auto;
  margin-top: 25px;
  background-color: lightGrey;
}
